@charset "utf-8";
/* Reset */
@font-face{font-family:'Noto Sans KR';src:url('font/NotoSansKR-Bold.otf');}
*{margin:0;padding:0;box-sizing:border-box;}
body,html{width:100%;height:100%;}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#333;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:14px;font-weight:normal;word-spacing:.02em;letter-spacing:-.05em;margin:0;padding:0;}
b{font-weight:600;}
h1,h2,h3,h4,h5,h6{box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
img,input,select{vertical-align:middle;}
span,
a{display:inline-block;text-decoration:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
caption{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
em,address,i{font-style:normal;}
table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;}
button{display:inline-block;border:none;cursor:pointer;box-sizing:border-box;background:transparent;}
.block,.block div{display:block;}
input[type="text"],input[type="password"],textarea,select{height:33px;border:1px solid #cccccc;color:#555;background-color:rgba(255,255,255,.9);vertical-align:middle;padding:0 5px;box-sizing:border-box;}
input[type=checkbox]{width:15px;height:14px;}
select{min-width:50px;height:33px;padding-right:20px;background:url(../images/btn_select.png) right 5px center no-repeat, rgba(255,255,255,.9);;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
textarea{width:100%;min-height:35px;resize:none;line-height:30px;}

/* Common */
.blind{position:absolute;left:-9999px;top:-9999px;width:0;height:0;font-size:0;overflow:hidden;line-height:0;text-indent:-9999px;}
.clearfix{*zoom:1;}
.clearfix::before,
.clearfix::after{display:block;content:"";line-height:0;clear:both;}
.blind{position:absolute;left:-9999px;}
.wrapper{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;min-height:100vh;}
.contents{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-moz-flex-shrink:1;-webkit-flex-shrink:1;-ms-flex-shrink:1;flex-shrink:1;width:100%;min-width:calc(100% - 30vw);}
.contents .wrap{padding:0 30px;}

.fl{float:left;}
.fr{float:right;}
.flex_wrap{display:flex;flex-wrap: wrap;}
.f_sa{justify-content:space-around;}
.f_sb{justify-content:space-between;}
.f_s{justify-content:flex-start;}

.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}

.font_b{font-weight:bold;}
.font_red{color:#f86c6c !important;}
.font_gray{color:#a3a3a3;}
.font_deepred{color:#e95a5a !important;}
.font_skyblue{color:#3c7ed3 !important;}
.font_blue{color:#284278 !important;}

/* Btn */
.btn{padding:6px 30px;font-size:16px;}
.btn_s{padding:3px 9px 4px;border-radius:3px;font-size:12px;}
.btn_m{padding:4px 15px 7px;border-radius:3px;font-size:14px;}
.btn_l{width:90px;line-height:31px;font-size:14px;font-size:16px;text-align:center;}
.btn_gray{border:1px solid #5a5859;background-color:#5a5859;color:#f8f8f8;}
.btn_gray:hover, .btn_gray:active{background-color:#333132;color:#fff;}
.btn_grayline{border:1px solid #cdcdcd;background-color:#fff;color:#777777;}
.btn_grayline:hover, .btn_grayline:active{background-color:#cdcdcd;color:#fff;}
.btn_blue{border:1px solid #586674;background-color:#586674;color:#fff;}
.btn_blue:hover, .btn_blue:active{background-color:#3d4650;color:#fff;}
.btn_skyblue{background-color:#3c7ed3;border-color:#3c7ed3;color:#fff;}
.btn_skyblueline{border:2px solid #3c7ed3;background-color:#fff;color:#3c7ed3;}
.btn_mintline{border:2px solid #3ca7d3;background-color:#fff;color:#3ca7d3;}

/* Table */
.tbl_top p{margin-bottom:20px;font-size:14px;letter-spacing:.09px;}
.tbl_top p::before{content:'\e850';margin-right:2px;font-family:'axicon';font-weight:bold;color:#284278;}
.tbl_top b{color:#375ba7;}
.tbl_com{line-height:32px;table-layout:fixed;}
.tbl_com thead{height:50px;border-top:1px solid #192d44;border-bottom:1px solid #d3d3d3;background-color:#e3ebf6;}
.tbl_com tbody tr{border-bottom:1px solid #d3d3d3;line-height:45px;}
.tbl_com tbody tr:hover{background-color:#f3f3f3;}
.tbl_com th{font-weight:bold;font-size:16px;color:#000;}
.tbl_com td{font-size:16px;}
.tbl_com .btn_search{padding:4px 11px;border-radius:3px;font-size:14px;font-weight:bold;background-color:#fff;}
.tbl_com .btn_search::before{display:inline-block;content:'';width:13px;height:17px;margin-right:2px;background:url(../images/ico_search.png)no-repeat;vertical-align:bottom;}
.tbl_com .btn_skyblueline::before{background-position-y:100%;}
.tbl_com .btn_mintline::before{background-position-y:0;}

/* input */
input:disabled{border-color:transparent;}
.to,
.from,
.datepic,
.date{width:105px;}
.period{display:inline-flex;align-items:center;justify-content:space-between;line-height:22px;vertical-align:middle;}
.period label,
.period input{vertical-align:top;}
.period_multi{position:relative;width:232px;}
.period_multi::after{content:"~";position:absolute;left:50%;top:2px;transform:translateX(-50%);}
.period_multi input{width:45.8%;}
.date_wrap{position:relative;}
.pop_overlay .date_wrap{display:block;}
.times img,
.date_wrap img{position:absolute;top:50%;right:5px;margin-top:-9px;}
.period_multi img{position:absolute;right:5px;right:11px\0; top:50%;margin-top:-9px;vertical-align:top;}
.period_multi img:first-of-type{left:calc(45.8% - 22px);left:calc(45.8% - 23px)\0;}
.divideL.period_multi::after{margin-left:0;}
[required]::after,
.required::after{position:relative;content:"\e705";color:#f35857;margin-left:2px;font-family:"axicon";font-size:10px;}
.input_calendar{background: #fff url(../images/btn_calendar.png) no-repeat top 6px right 4px;background-size: 15px;
cursor:pointer;}

/* search */
.search_area{position:relative;margin-bottom:25px;padding:10px;border:1px solid #e2e2e2;}
.detailsearch_wrap{display:none;margin:10px 0 5px;padding-top:10px;border-top:1px solid #e2e2e2;}
.search{display:flex;flex-wrap:wrap;align-items:center;line-height:25px;align-content:space-between;}
.search input,.search select,
.search button{font-size:13px;}
.search select{padding-right: 45px;}
.search li{margin-right:20px;margin-bottom:5px;align-self:normal;}
.search li:last-child{margin-right:0;margin-bottom:0;}
.search li label{position:relative;top:-1px;display:inline-block;font-weight:600;vertical-align:middle;color:#284278;font-size:13px;letter-spacing:-.02em;margin:0 8px;}
.search li span{font-size:16px;line-height:25px;vertical-align:middle;}
.search_wrap>select{min-width:100px;margin-right:5px;}
.btn_detailsearch{position:absolute;right:-1px;bottom:-30px;width:calc(100% + 2px);height:30px;background-color:#f5f5f5;border:1px solid #e2e2e2;border-radius:0 0 3px 3px;font-weight:bold;text-align:center;line-height:27px;}
.btn_detailsearch::after{position:relative;top:-4px;right:-7px;display:inline-block;content:'\f1af';font-size:10px;font-family:'axicon';line-height:20px;vertical-align:bottom;}
.btn_detailsearch.on::after{transform:rotate(180deg);}
.search_area button{padding:7px 13px;font-size:13px;border-radius:3px;vertical-align:middle;}
.search_area input[type="text"].search_input{padding-right:30px;background:#fff url(../images/ico_search.png)no-repeat right 10px center;background-size:16px;}

/* paginate */
.paginate{margin-top:35px;text-align:center}
.paginate a,.paginate .on{position:relative;display:inline-block;position:relative;min-width:40px;padding:9px;border:1px solid #d7d7d7;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.paginate a:hover, .paginate .on{border:1px solid #284278;background-color:#284278;color:#fff;}
.paginate a:hover::after, .paginate .on::after{position:absolute;right:calc(50% - 7px);display:block;content:'';width:14px;height:1px;margin-bottom:5px;background-color:#fff;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{width:40px;height:40px;color:#00152e;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:13px;font-weight:bold;vertical-align:top;}

/* jquery-ui custom */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.ui-datepicker{z-index:9000!important;;}
.ui-datepicker-title{display:block;width:auto;margin:0 2em;}
.ui-datepicker-title select{min-width:auto;height:auto;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:40%;margin-bottom:3px;padding:0;}
.ui-datepicker select.ui-datepicker-year{width:42%;}
.ui-datepicker select.ui-datepicker-month{margin-left:8px;}
.ui-datepicker-trigger,
.ui-monthpicker-trigger{cursor:pointer;}
.ui-monthpicker select.ui-datepicker-year{width:75px;}

/* login join */
.join_wrap,.login_wrap{width:100%;text-align:left;}
.login_box{width:550px;margin:0 auto;transform:translateY(75%);}
.join_box{width:550px;margin:0 auto;}
.tit_login{font-size:23px;font-weight:600;line-height:35px;letter-spacing: -0.06em;}
.tit_login img{margin-right:10px;}
.tit_login span{position:relative;top:10px;}
.login{margin-top:15px;padding:35px;}
.login h1{font-size: 40px;color:#539f8a;}
.login > div{padding:40px 0 0; justify-content:space-between;}
.login ul{display:inline-block;width:73%;}
.login li{margin-bottom:20px;}
.login .btn_login{width:25%;height:85px;border-radius:5px;vertical-align: top;background-color:#5a5859;color:#fff;}
.login label{display:inline-block;width:20%;font-size:15px;}
.login input{display:inline-block;width:78%;height:35px;line-height:35px;padding-left:10px;}
.login_check{margin-left:80px;white-space:nowrap;}
.login_check input[type = checkbox]{margin-right:10px;}
.login_join{margin-top: 15px;}
.login_join, .login_join a{font-size:15px;}
.login_join a{position:relative;margin-left:2px;padding-right:22px;font-weight:bold;color:#539f8a;}
.login_join a::after{position:absolute;top:1px;right:0;content:'\e932';display: inline-block;font-family:'axicon';font-size:20px;}
.login_info{text-align:right;margin-top:20px;border-top:1px solid #dfdfdf;padding-top:5px;color:#777;}
.join_wrap .login ul{width:100%;}
.join_wrap .login label{width:24%;}
.join_wrap .login input{width:75%;}
.join_wrap .join_number_wrap input{width:55%;}
.join_wrap button{border-radius:5px;}
.join_wrap .btn_number{width:calc(20% - 13px);margin-left:10px;padding:0;border-radius:5px;vertical-align: top;background-color:#5a5859;color:#fff;}
.join_number2_wrap{width:75%;margin-left:25%;}
.join_wrap .join_number2_wrap input{width:100%;}
.join_wrap .join_number2_wrap p{margin-top:3px;}
.join_wrap .btn_join{margin-top:20px;}
.join_birth_wrap span{display:inline-block;width:75%;}
.login .join_birth_wrap span input,
.login .join_birth_wrap span select{flex-grow:1;width:32.6%;height:35px;line-height:35px;}
.login .join_birth_wrap span select{padding-left:10px;vertical-align:middle;}
.join_wrap .join_alert{margin-top:3px;margin-left:25%;}

/* header */
.slide_wrap{position:relative;z-index:9999;width:300px;border-right:1px solid #d3d3d3;box-shadow:1px 1px 10px rgba(0, 0, 0, 0.13);transition:.5s;background-color:#2e363e;}
.slide_wrap.on {margin-left:-300px}
.slide > div{position:relative;top:0;padding:20px;background-color:#181818;}
.slide p{color:#fff;font-size:15px;}
.util_user p{display:inline-block;font-size:17px;}
.util_user p i{position:relative;top:1px;margin-right:5px;}
.btn_open {position:absolute;top:10px;right:-45px;width:35px;height:35px;}
.btn_open:after{display:block;content:'\e93c';font-family:'axicon';font-size:3em;transition:.3s;}
.btn_open:hover:after{color:#539f8a;}

.depth1{position:relative;display:block;border-bottom:1px solid #444b52;font-size:16px;color:#959294;line-height:50px;padding-left:23px;background:url(../images/ico_depth2.png)92.5% 0 no-repeat;}
.depth1:hover{background:#464e56 url(../images/ico_depth2.png)92.5% 0 no-repeat;}
.depth1.empty{background:none;}
.depth1.empty:hover{background:#464e56;}
.depth1.new::after{position:relative;top:-1px; display:inline-block;content:'N';width:15px;height:15px;margin-left:5px;border-radius:2px;background-color:#539f8a;  font-family:'axicon';line-height:13px;text-align:center;font-size:11px;color:#fff;animation:blink 1s step-end infinite}
@keyframes blink{50%{background-color:#498b79;}}
.depth1.on{background-color:#464e56;background-position-y:100%;color:#fff;}
.depth1.on::before{position:absolute;top:0;left:0;content:'';display:inline-block;width:8px;height:100%;background-color:#539f8a;}
.depth2{padding:20px 0;border-bottom:1px solid #424242;background-color:#21252a;line-height:25px;}
.depth2 a{width:100%;padding:8px 0 8px 28px;font-size:16px;letter-spacing:-1.2px;color:rgba(170, 177, 185, 0.53);}
.depth2 a.on,.depth2 a:hover{color:#4cc9a6;}

.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {width:100% !important;}

.ui-jqgrid-view {width:100% !important;}

.ui-jqgrid-hdiv {width:100% !important;}

.ui-jqgrid .ui-jqgrid-hbox {width:100% !important; padding:0 !important;}

.ui-jqgrid-htable {width:100% !important;}

.ui-jqgrid-bdiv {width:100% !important;}

.ui-jqgrid-btable {width:100% !important;}

.ui-jqgrid-pager {width:100% !important;}