@charset "utf-8";

/* sub common */
section{margin-top:30px;}
.locate{padding:6em 0 1.2em;}
.locate ul{display:inline-flex;}
.locate li{font-weight:600;}
.locate li::before{content:"\e850";font-family:'axicon';color:#999;}
.locate li:first-child::before{display:none;}
.locate li a{color:#999;font-weight:normal;}
.menu li{display:inline-block;margin-right:5px;border:1px solid #a7a5a5;border-radius:100px;background-color:#fff;}
.menu li.on,
.menu li:hover{background-color:#2e363e;border-color:#2e363e;}
.menu li a{display:block;height:100%;padding:5px 10px;font-weight:bold;}
.menu li.on a,
.menu li:hover a{color:#fff;}

.tit{background-color:#e4e5ea;}
.tit_h2{margin-bottom:0.5em;font-size:1.3em;font-weight:bold;line-height:15px;}
.tit_h3{margin-bottom:10px;font-size:16px;font-weight:bold;line-height:15px;}
.tit_h3::before{position:relative;top:-2px;display:inline-block;content:'';width:5px;height:5px;margin-right:5px;border-radius:3px;background-color:#192d44;}
.box{padding:20px;background-color:#f2f2f2;}
.ico_arrow.horizontal{position:relative;left:50%;cursor:pointer;width:36px;height:36px;margin:40px 0 20px;background: url(../images/ico_arrow.png);align-self:center;transform:rotate(90deg);}
.ico_arrow.horizontal:hover{background-position-y:100%;}

.axi{margin:3px 10px 0 0;font-size:0!important;}
.axi::before{font-size:14px;font-family:'axicon';}
.axi-close:before{position:relative;right:-7px;}
.axi.btn_file::before{content:"\e802";font-weight:normal;}
.axi.btn_check::before{content:"\f1ae";font-weight:normal;}
.axi.btn_close::before{content:"\f1b6";font-weight:normal;}
.tbl_top .axi{margin:0 3px 0 0;}
.btn_dtl:hover{background-color: #999;}
.btn_dtl:hover::before{color:#fff;}
.btn_file{height:25px;margin:0;padding:5px;border:1px solid #c4c4c4;border-radius:3px;background-color:#e9e9e9;line-height:12px;}
.btn_dtl{margin:2px;padding:3px;border:1px solid #c4c4c4;border-radius:3px;background-color:#e9e9e9;}
.btn_recipient::before{content:"\f212";font-weight:normal;}
.btn_address::before{content:"\f095";font-weight:normal;}
.btn_contents::before{content:"\f00e";font-weight:normal;}

/* user */
/* send */
.receiver_wrap,
.group_wrap{min-height:150px;margin:10px 0;padding:12px 15px;border:1px solid #d7d7d7;background-color:#fff;}
.receiver_wrap li{display:inline-block;margin:0 10px 10px 0;padding:1px 0 2px 7px;border:1px solid ;border-radius:50px;font-size:14px;font-weight:bold;color:#333;}
.receiver_wrap li i{cursor:pointer;color:#333;}
.receiver_wrap li:hover{background-color:#697683;color:#fff;}
.receiver_wrap li:hover i{color:#fff;}
.text_example{width:100%;height:150px;padding:10px;font-size:14px;}
.sendtext_wrap{margin-top:10px;}
.byte_alert.lms{position:relative;}
.byte_alert.lms::after{position:absolute;top:-2px;display:inline-block;content:'LMS';margin-left:5px;padding:2px 5px;border-radius:3px;background-color:#ff5959;color:#fff;}
/* group */
.group_wrap{min-width:210px;height:200px;overflow-y:scroll;}
.group_wrap li{margin-bottom:5px;padding:2px 6px;border:1px solid ;border-radius:50px;font-size:14px;font-weight:bold;color:#333;}
.group_wrap li:hover{background-color: #697683;color:#fff;}
.group_wrap li i{cursor:pointer;}
/* info */
.tbl_info th{width:75px;padding:5px 10px 0 5px;font-weight:bold;vertical-align:top;}
.tbl_info td{padding:5px 0;}
.tbl_info td input{min-width:100%;}
.tbl_info th label{display:block;min-width:95px;}
/* board */
.manual_attach #dropZone{padding:10px 0 10px 10px;background-color:#e8e8e8;text-align:left;}
.manual_attach li{line-height:35px;}
.manual_attach h3::before,.upload-btn::before{position:relative;top:2px;content:'';display:inline-block;width:15px;height:16px;margin-right:5px;background:url(../images/ico_addfile.gif);background-size:cover;}
.manual_attach span{margin:0 5px;color:#aaaaaa;}
.manual_attach .btn_down{position:relative;top:3px;}
.btn_down{width:16px;height:16px;background-image:url(../images/ico_file.png), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));background-repeat:no-repeat;text-indent:-9999px;}
.btn_down:active, .btn_down:hover{background-image:url(../images/ico_file.png), linear-gradient(rgba(220, 220, 220, 1), rgba(220, 220, 220, 1))}
/* add */
.add_wrap{display:flex;justify-content:space-between;}
.send_add{margin:20px 0 10px 10px;}
.add_method{width:70%;}
.add_result{width:28%;height:100%;align-self:flex-end;}
.add_method .btn_wrap{margin-top:10px;}
.add_method .add_way_wrap li{margin-right:20px;}
.add_method_box{height:250px;border:1px solid #ccc;background-color:#fff;}
.add_method_box p{padding:20px;line-height:28px;}
.add_way_wrap{margin:20px 0 20px 10px;}
.add_result span{display:block;text-align:right;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #aaa;font-size:31px;}

/* admin */
/* user */

@media screen and (max-width: 480px) {
.add_wrap{display:block;}

/* pop */
.pop_wrap{position:fixed;min-width:80%;}

/* pagenation */
.paginate a, .paginate .on{min-width:20px;margin:0 2px; padding:0;}
.paginate .pre, .paginate .next, .paginate .first, .paginate .last{width:20px;height:20px;}

/* login */
.login_box{width:auto;transform:translateY(50%);}
.login{padding:15px;}
.join_box{width:auto;}
.join_wrap .join_number_wrap input{width:35%;}
.join_wrap .btn_number{width:calc(35% - 15px);}
.join_wrap .join_number2_wrap input{width:84%;}
.join_birth_wrap span{width:63%;}
.login .join_birth_wrap span input, .login .join_birth_wrap span select{width:31.9%;}
.btn_login{padding:10px;}
.login_join{margin-right:10px;}
.btn_change{top:10px;}

/* slide */
.slide_wrap{position:fixed;top:0;left:0;width:20em;height:100%;}
.slide_wrap.on{margin-left:-20em;}
/* sub common */
.contents .wrap{padding:10px;}
.tit{padding:15px 20px;}
.menu li a{font-size:1.2em;font-weight:normal;}
.tit_h2{padding:0 0 .8em;font-size:1.7em;}
.btn_open{top:5px;}
.btn_change{top:10px;}
.tit_h3{margin-bottom:10px;font-size:16px;font-weight:bold;line-height:15px;}
.tit_h3::before{position:relative;top:-2px;display:inline-block;content:'';width:5px;height:5px;margin-right:5px;border-radius:3px;background-color:#192d44;}
.box{padding:20px;background-color:#f2f2f2;}
.locate{padding:6em 0 1.2em;}
.locate ul{display:inline-flex;}
.locate li{font-weight:600;}
.locate li:first-child a{font-size:0;}
.locate li:first-child a::after{display:inline-block;content:"\e6c3";font-family:'axicon';font-size:15px;color:#999;}
.locate li::before{content:"\e850";font-family:'axicon';color:#999;}
.locate li:first-child::before{display:none;}
.locate li a{color:#999;font-weight:normal;}
.search li label{margin:0 5px;}

/* user */
/* add */
.add_wrap{display:block;}
.add_method{width:100%;}
.add_result{width:100%;height:100%;margin-top:20px;}
}

@media (min-width: 480px) and (max-width: 768px) {
/* pop */
.pop_wrap{position:fixed;min-width:80%;}

/* pagenation */
.paginate a, .paginate .on{min-width:20px;margin:0 2px; padding:0;}
.paginate .pre, .paginate .next, .paginate .first, .paginate .last{width:20px;height:20px;}
/* login */
.login_box{width:auto;}
.join_box{width:auto;}
/* slide */
.slide_wrap{position:fixed;top:0;left:0;width:20em;height:100%;}
.slide_wrap.on{margin-left:-20em;}
/* sub common */
.tit{padding:15px 30px;}
.menu li a{font-size:1em;font-weight:normal;}
.tit_h2{padding:0 0 .8em;font-size:1.7em;}
.btn_open{top:5px;}
.btn_change{top:10px;}

/* user */
/* send */
.send_add{margin-bottom:5px;}
.receiver_wrap li{margin:0 5px 5px 0;}
/* add */
.add_wrap{display:block;}
.add_method{width:100%;}
.add_result{width:100%;height:100%;margin-top:20px;}

/* admin */
/* */
}

@media screen and (min-width: 769px) {

/* pop */
.w_400{width: 400px !important;}
.w_600{width: 600px !important;}
.w_700{width: 700px !important;}
.w_800{width: 800px !important;}
.w_850{width: 850px !important;}

.slide_wrap{display:block;position:relative;z-index:9980;width:25vw;border-right:1px solid #d3d3d3;box-shadow:1px 1px 10px rgba(0, 0, 0, 0.13);transition:.5s;background-color:#2e363e;}
.slide_wrap.on {margin-left:-25vw}
/* sub common */
.tit{padding:20px;}
.menu li a{font-size:1.1em;font-weight:normal;}
.tit_h2{padding:0 0 .8em;font-size:1.8em;}
}

@media screen and (min-width: 1281px) {
.row_5 .ui-jqgrid .ui-jqgrid-bdiv{height:141px !important;}
.row_10 .ui-jqgrid .ui-jqgrid-bdiv{height:281px !important;}
}